 #tz-login-top-wrapper{
background: rgb(51, 51, 51) !important;
} #tz-login-top-wrapper a{

} #tz-login-top-wrapper a:hover{

} #tz-top-bar-wrapper{

} #tz-top-bar-wrapper a{

} #tz-top-bar-wrapper a:hover{

} #tz-header-wrapper{

} #tz-header-wrapper a{

} #tz-header-wrapper a:hover{

} #tz-position1-wrapper{

} #tz-position1-wrapper a{

} #tz-position1-wrapper a:hover{

} #tz-position2-wrapper{

} #tz-position2-wrapper a{

} #tz-position2-wrapper a:hover{

} #tz-position3-wrapper{
padding: 80px 0 80px 0 !important;
} #tz-position3-wrapper a{

} #tz-position3-wrapper a:hover{

} #tz-position4-wrapper{
padding: 80px 0 80px 0 !important;
} #tz-position4-wrapper a{

} #tz-position4-wrapper a:hover{

} #tz-position5-wrapper{
padding: 80px 0 80px 0 !important;
} #tz-position5-wrapper a{

} #tz-position5-wrapper a:hover{

} #tz-position6-wrapper{

} #tz-position6-wrapper a{

} #tz-position6-wrapper a:hover{

} #tz-position7-wrapper{
padding: 80px 0 80px 0 !important;
} #tz-position7-wrapper a{

} #tz-position7-wrapper a:hover{

} #tz-footer-top-wrapper{
background: rgb(34, 34, 34) !important;padding: 60px 0 50px !important;
} #tz-footer-top-wrapper a{

} #tz-footer-top-wrapper a:hover{

} #tz-footer-top-1-wrapper{

} #tz-footer-top-1-wrapper a{

} #tz-footer-top-1-wrapper a:hover{

} #tz-footer-top-2-wrapper{

} #tz-footer-top-2-wrapper a{

} #tz-footer-top-2-wrapper a:hover{

} #tz-footer-bottom-wrapper{
background: rgb(29, 29, 29) !important;
} #tz-footer-bottom-wrapper a{

} #tz-footer-bottom-wrapper a:hover{

} #tz-to-top-wrapper{

} #tz-to-top-wrapper a{

} #tz-to-top-wrapper a:hover{

}